body {
	margin: 0;
	padding: 0;
	    background: linear-gradient(to right, #89f7fe 0%, #66a6ff 90%);
	font-family: sans-serif;
	background-size: cover;
	background-attachment:fixed;
}

.loginbox {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 360px;
	box-sizing: border-box;
	background:transparent;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	transition: .5s;
}



.glass {
	width: 100%;
	height: 100%;
	padding: 40px;
	box-sizing: border-box;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 5px;
	transition: .5s;
}

h3 {
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	color: #fff;
}

.loginbox input {
	margin-bottom: 20px;
	width: 100%;
}

.loginbox input[type="text"], .loginbox input[type="password"] {
	border: none;
	border-bottom: 2px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	font-size: 17px;
	padding-left: 20px;
	box-sizing: border-box;
}

::placeholder {
	color: #ffffff;
}

inputbox {
	position: relative;
}

.loginbox input[type="submit"] {
	border: none;
	border-radius: 20px;
	background: #000000;
	outline: none;
	height: 40px;
	font-size: 17px;
	color: #fff;
	cursor: pointer;
}